.forklift {
  transform: translate(1100px, 0);
  animation: slideIn 0.8s forwards ease-in-out; /* Slide in animation */
}

@keyframes slideIn {
  0% {
    transform: translate(800px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.forklift::before {
  content: "";
  background-image: url("../../assets/images/forklift.png");
  position: absolute;
  top: 45px;
  right: -130%; /* Adjust this value as needed */
  width: 200%; /* Adjust the width as needed */
  height: 100%;
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
}
